>=.5%
last 2 versions
not dead

# Browsers minimal version for critical features
not chrome < 21     # flexbox
not edge < 16       # svg-css
not firefox < 28    # flexbox
not ie < 11         # flexbox
not op_mini all     # css-fixed
not safari < 7      # flexbox
