<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[DEV] vue-tinybox</title>
    <meta name="description" content="A slick, yet tiny lightbox gallery component for Vue.js">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
    <style>
        .open-tinybox {
            display: inline-block;
            cursor: pointer;
            margin-right: 10px;
        }
    </style>

    <script src="https://unpkg.com/vue@%5E2"></script>
    <script src="./tinybox.js"></script>
</head>
<body>
<header>
    <h1>[DEV] vue-tinybox</h1>
</header>

<main>
    <article id="app">
        <h2>
            <a href="#demo" id="demo" aria-hidden="true"></a>
            Dev demo
        </h2>
        <p>Click on any image below to open <code>Tinybox</code></p>

        <Tinybox v-model="index" :images="images"></Tinybox>
        <img
                v-for="(img, idx) in thumbs"
                class="open-tinybox"
                width="100"
                :src="img"
                @click="index = idx"
        >
    </article>
</main>

<footer>
    <p>by <a href="https://karamoff.ru" target="_blank">Nikita Karamov</a></p>
    <p>Website built with <a href="https://igoradamenko.github.io/awsm.css/index.html" target="_blank">awsm.css</a></p>
</footer>

<script>
    new Vue({
        components: {Tinybox},
        el: '#app',
        data: function () {
            return {
                images: [
                    {
                        src: "https://picsum.photos/id/13/500/1000",
                        alt: "An empty beach",
                        thumbnail: "https://picsum.photos/id/13/200"
                    },
                    {
                        src: "https://picsum.photos/id/42/1500/600",
                        alt: "A café desk"
                    },
                    "https://picsum.photos/id/256/800/800"
                ],
                thumbs: [
                    "https://picsum.photos/id/13/200",
                    "https://picsum.photos/id/42/200",
                    "https://picsum.photos/id/256/200",
                ],
                index: null
            }
        },
    });
</script>
</body>
</html>
